In [1]:
#Importing Libreries

import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

#Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

c:\Users\Naomi\anaconda3\envs\python_course\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
c:\Users\Naomi\anaconda3\envs\python_course\Lib\site-packages\huggingface_hub\file_download.py:143: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\Naomi\.cache\huggingface\hub\datasets--lukebarousse--data_jobs. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)
Generating train split: 100%|██████████| 785741/785741 [00:26<00:00, 29452.13 examples/s]

In [3]:
df.loc[:,'salary_rate':'salary_hour_avg'].dropna(subset='salary_rate')

       salary_rate  salary_year_avg  salary_hour_avg
28            year         109500.0              NaN
43            hour              NaN             97.5
51            hour              NaN             72.5
77            year         140000.0              NaN
92            year         120000.0              NaN
...            ...              ...              ...
785624        year         139216.0              NaN
785641        year         150000.0              NaN
785648        year         221875.0              NaN
785682        year         157500.0              NaN
785692        year         157500.0              NaN

[33067 rows x 3 columns]

In [6]:
df.iloc[0
        ]

job_title_short                                       Senior Data Engineer
job_title                Senior Clinical Data Engineer / Principal Clin...
job_location                                                 Watertown, CT
job_via                                                    via Work Nearby
job_schedule_type                                                Full-time
job_work_from_home                                                   False
search_location                                       Texas, United States
job_posted_date                                        2023-06-16 13:44:15
job_no_degree_mention                                                False
job_health_insurance                                                 False
job_country                                                  United States
salary_rate                                                           None
salary_year_avg                                                        NaN
salary_hour_avg                                                        NaN
company_name                                          Boehringer Ingelheim
job_skills                                                            None
job_type_skills                                                       None
Name: 0, dtype: object

In [ ]:
# Select First 5 Rows with .iloc()
# Select and display the job_title and job_location columns for the first 5 rows of the DataFrame using the iloc method.

x1 = df.iloc[:5,[0,2]]
print(x1)

        job_title_short                  job_location
0  Senior Data Engineer                 Watertown, CT
1          Data Analyst  Guadalajara, Jalisco, Mexico
2         Data Engineer               Berlin, Germany
3         Data Engineer               San Antonio, TX

In [ ]:
# Get Rows and Columns with .loc()
# Retrieve the columns starting with job_title all the way to job_posted_date for rows 
# with an index of 5 to 9. Use the loc method.

x2 = df.loc[5:9,['job_title','job_posted_date']]
print(x2)

                                  job_title     job_posted_date
5                         GCP Data Engineer 2023-11-07 14:01:59
6         Senior Data Engineer  - GCP Cloud 2023-03-27 13:18:18
7                             Data Engineer 2023-12-07 13:40:49
8  Technology & Operations Business Analyst 2023-06-05 13:44:34
9                         Data Scientist II 2023-04-23 13:02:57

In [22]:
# Retrieve the job_title and salary_year_avg for the first 15 rows 
# where the job_country is 'United States'. Use the iloc method.
x_usa= df[df['job_country'] =='United States']
x3 = x_usa.iloc[:16,[0,13]]

print(x3)

         job_title_short  salary_hour_avg
0   Senior Data Engineer              NaN
1           Data Analyst              NaN
2          Data Engineer              NaN
3          Data Engineer              NaN
4          Data Engineer              NaN
5          Data Engineer              NaN
6   Senior Data Engineer              NaN
7          Data Engineer              NaN
8       Business Analyst              NaN
9         Data Scientist              NaN
10         Data Engineer              NaN
11         Data Engineer              NaN
12          Data Analyst              NaN
13  Senior Data Engineer              NaN
14         Data Engineer              NaN
15         Data Engineer              NaN

In [24]:
# Select and display the job_title, job_location, 
# and job_posted_date columns for rows where the job_posted_date 
# is after '2023-05-01' using the loc method.

x_date1 = df[df['job_posted_date'] > '2023-05-01' ]
x4 = x_date1.loc[:5,['job_title', 'job_location','job_posted_date']]
print(x4)

                                           job_title     job_location  \
0  Senior Clinical Data Engineer / Principal Clin...    Watertown, CT
2  Data Engineer/Scientist/Analyst, Mid or Senior...  Berlin, Germany
3  LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...  San Antonio, TX
4                             Data Engineer- Sr Jobs   Washington, DC
5                                  GCP Data Engineer         Anywhere

      job_posted_date
0 2023-06-16 13:44:15
2 2023-10-10 13:14:55
3 2023-07-04 13:01:41
4 2023-08-07 14:29:36
5 2023-11-07 14:01:59